

  html, body {
    font-family: Arial;
    align-items: center!important;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width:100%;
    padding: 0;
    color: #333;
    background-color: #fff;
}


#selectState {
  margin: 0 0 6px 0!important;
}
  .card-text {
    font-family: Arial;
  }
  #selectState {
    margin: 5px 0 0 0;
  }
  .card.changed {
    background-color: #4682B4;
  }
  h3, h5{
    text-align: center;
  }
   #map {
    min-width: inherit;
    height: 360px!important;
  }
  .leaflet-control-zoom, .leaflet-control-attribution {
    display: none;
  }
  .leaflet-container {
    background-color: transparent!important;
  }
.col-card {
  padding: 0 0!important;
}
.row-card {
  margin: 0 0!important;
}
.btn-link {
  font-size: 12px!important;
  text-align: left!important;
  padding-bottom: 0!important;
}
.btn-primary {
  background-color: #006dbf!important;
  padding-top: 0!important;
  padding-bottom: 2px!important;
  line-height: 28px!important;
  border-radius: 0px!important;
  font-size: 14px!important;
  font-weight: 300!important;
  margin-bottom: 4px!important;
}
.multi-collapse {
    display: grid;
    grid-template-columns:50% 50%;
}
#card {
  position: relative;
  padding: 0px 40px!important;
  opacity: .95;

}
.axis {
  font-family: 'Arial',sans-serif;
  text-align: center;
}



.card-body {
  background-color: white;
}

.card-group {
  max-width: 280px;
  min-height: auto;
  text-align: center;
  position: absolute;
  left: 10px;
  top: -460px;
}
.card-group.right {
  right: -240px;
  float: right!important;
}
@media only screen and (min-width: 600px) {
  .card-group.right {
    left: 300px;
  }
}
.card-line {
  margin-bottom: 12px;
  display: flex;

}
.subhead {
  font-size: 12px;
  text-align: left;
}
.card-line i {
  margin-right: 6px;
}
.card-text {
  text-align: left;
  line-height: 14px!important;
  font-size: 12px;
}
.icon {
  min-width: 16px!important;
}


.fa-check {
  color: #34a326;
}

.fa-times {
  color: #ed1313
}
.card-head {
  display: flex;
  justify-content: space-between;
  line-height: 18px;
}
.state-name {
  color: white;
  line-height: 36px;
  margin: 0 0 0 4px;
}
.close {
  padding-right: 4px!important;
}
.close .fa-times {
  color: white!important;
  font-size: 22px!important;
  line-height: 14px!important;
}
.close-container {
  position: relative;
  margin-left: 20px;
}
#card {
  display: block;
  align-items: center;
  margin-left: 0;
}
#card.invisible {
  display: none;
}
.state-text {
  pointer-events: none;
}
#state-name {
  color: black!important;
}
.sexEdMandated {
  background-color: #41b6e6!important;
  border-radius: 0px!important;
  padding: 4px 5px 20px!important;
}
.bothMandated {
  background-color: #00bfb2!important;
  border-radius: 0px!important;
  padding: 4px 5px 20px!important;
}
.hivMandated {
  background-color: #ffc845!important;
  border-radius: 0px!important;
  padding: 4px 5px 20px!important;
}

.neitherMandated {
  background-color: #e56db1!important;
  border-radius: 0px!important;
  padding: 4px 5px 20px!important;
}

.nMandated {
  fill: #e56db1!important;

}

.hMandated {
  fill: #ffc845!important;

}
.sMandated {
  fill: #41b6e6!important;
}

.bMandated {
  fill: #00bfb2!important;
}
.legend {
  padding: 0 40px;
}
.labels {
  display: grid;
  grid-template-columns:50% 50%;
}
@media only screen and (max-width: 480px) {
  .labels {
    grid-template-columns:100%;
  }
}
.legend span {
  border: 1px solid #ccc;
  line-height: 15px;
  float: left;
  width: 25px;
  height: 25px;
  margin: 2px;
  margin-right: 5px;
}
.legend-title, .legend-attr {
  font-size: 14px;
  font-weight: 700;
}
.legend-attr {
  font-size: 12px;
  font-weight: 300;
  max-width: 300px;
  width: 70%;
  margin: 0 auto;
}
.gridline {
  opacity:.2;
}
@charset "UTF-8";
/* CSS Document */


/*body*/


.container {
  min-width:420px;
  max-width:520px;
}
.constrict {
  width:100%;
}
section {
  width:100%;
}

section.main-graphics{
    width:100%;
    margin:0;
    padding:0px 0 0px 0;
}

div.masthead{
    position:relative;
    margin-top:0px;
}

/*headline*/
.header{
    font-family: 'Arial';
    font-size: 40px;
    margin-bottom:0;
    text-align: left;
    line-height: 40px;
    margin-top: 20px;
    padding:0 10px;
}
line{
    stroke:#102039;
}
.text-tab{
    font-family: 'Tiempos';
}

/*footer*/
#sourceline {
   font-family:'Tiempos';
   font-size: 8px;
   margin-top: 20px;
   min-height: 100px!important;
}

.footnote{
    color: black;
    margin:0;
}

.source{
    color: black;
    margin:0;
}

.credit{
    color: #3D3D3D;
    float: left!important;
    text-align: left!important;
}

.neutral {
  fill: grey !important;
  pointer-events: none;
}

.axis {
  font-family: 'Arial';
  font-size: 10px !important;
  font-weight:200;
}

.axis path,
.axis line {
  fill: none;
  stroke: #999999;
  shape-rendering: crispEdges;
}

p {
  margin-left:10px;
}
#chart {
  width: 100%;
  height:530px;
  position: relative;
}

.invisible {
  z-index:3;
  fill:none;
  pointer-events: fill;
}
.bar {
  pointer-events: none;
}
.bar-district {
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */

.content-rail {
  width:100%;
  float:left;
  position: relative;
  min-height: 1px;
  margin-left:10px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
/* Graphic Flag */
.flag{
color:black;
background-color:#ffcf31;
font-family:'Arial';
font-size: 16px;
font-weight:100;
height:30px;
padding:4px 10px 4px 5px;
display:flex;
justify-content: space-between;
width:100%;
}

.flag-logo {
  min-width:200px;
  opacity: .7;
  background: url("assets/logo.png");
  background-repeat: no-repeat;
  background-size: 80%;
}

.labels {
  display: grid;
}
/* Header */
.hed{
font-family: 'Arial';
font-size: 32px;
font-weight:700;
line-height: 40px;
padding: 5px 0px 2px 40px!important;
position: relative;
text-align: left;
}

/* Description */
.dek{
font-family: 'Tiempos';
font-size:14px;
text-align: left;
padding: 5px 40px 16px 40px!important;
display: inline-block;
line-height: 25px;
width:95%;
}
/* Chart or visualization */
#viz{
width:100%;
height:100%;
padding:auto;
margin:auto;
}
.legend {
font-family:'Arial';
font-size:12px;
}

/* Footer */
#sourceline {
font-family:'Tiempos';
font-size: 12px;
margin-top: 0px;
min-height: 100px!important;
}
.label {
font-family:'Arial';
font-size:14px;
}
.label p {
  line-height: 26px;
  margin-bottom: 0px;
}
.footer{
color: black;
font-family:'Tiempos';
font-size: 10px;
margin:0 auto;
width:86%;
opacity: .5;
}
.axis text {
font-weight:300;
font-family:'Arial';
text-transform:uppercase;
}
.source{
font-style:italic;
}
.credit{
font-style:italic;
}
text {
pointer-events: none;
}


